* {
  /*margin: 0; padding: 0;*/
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

.chatArea{
  height: 100%;
  padding-bottom: 100px;
}

#messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li { padding: 10px 20px 10px 20px; }
#messages li:nth-child(odd) { background: #d9edf7; }

form { padding: 10px; position: absolute; bottom: 0; width: 100%; }
/*form input { padding: 10px; width: 90%; margin-right: .5%; }*/
#m {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
